.notification {
  display: flex;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  width:300px;
  align-items: start;
  gap:10px
}
.green {
  border: 1px solid #3ec484;
  background-color: #e1f3ec;
}
.green h2 {
  color: #08b461;
}
h2 {
    margin: 0;
}
.green svg g circle,
.green svg g path {
    stroke:#08b461
}
.red {
  border: 1px solid #c43e5e;
  background-color: #f3e1ea;
}
.red h2 {
  color: #ea3b3b;
}
.red svg g circle,
.red svg g path {
    stroke:#ea3b3b
}
.notification p {
  color: #1a274f;
}
