.errors {
  font-size: 0.75rem;
  color: red;
}

.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.profile-card-heading {
  background-color: #f7f7f7;
  padding: 5px 20px;
  border-radius: 5px 5px 0 0;
  height: 40px;
  display: flex;
  align-items: center;
}
.profile-card-heading h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1rem;
}
.datePicker .css-193any7-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px;
}
.datePicker .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 0.875rem !important;
}
.app-bar-profile-pic {
  width: 40px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100%;
}
.dashboard-drawer-item-text .css-rizt0-MuiTypography-root {
  font-size: 0.875rem !important;
}
.recharts-legend-item svg path {
  fill: #7539ff !important;
}

.css-1r9jet7 {
  height: 65px !important;
}
.css-9ohfen-MuiListItemIcon-root {
  margin-right: 10px !important;
}
