.bar {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}
.bellIconAndProfile {
  display: flex;
  gap: 30px;
  align-items: center;
}
.appBarBtn:hover {
  cursor: pointer;
}
.bellIconAndProfile img:hover {
  cursor: pointer;
}
.logoDiv:hover {
  cursor: pointer;
}
